{
    "yelp": {
        "home": "https://www.yelp.com",
        "email": "",
        "password": ""
    },
    "britannica": {
        "home": "https://www.britannica.com",
        "email": "",
        "password": ""
    },
    "cnn": {
        "home": "https://www.cnn.com",
        "email": "",
        "password": ""
    },
    "ebay": {
        "home": "https://www.ebay.com",
        "email": "",
        "password": ""
    },
    "foxnews": {
        "home": "https://www.foxnews.com",
        "email": "",
        "password": ""
    },
    "nfl": {
        "home": "https://www.nfl.com",
        "email": "",
        "password": ""
    },
    "nytimes": {
        "home": "https://www.nytimes.com",
        "email": "",
        "password": ""
    },
    "reddit": {
        "home": "https://www.reddit.com",
        "email": "",
        "password": ""
    },
    "target": {
        "home": "https://www.target.com",
        "email": "",
        "password": ""
    },
    "yahoo": {
        "home": "https://www.yahoo.com",
        "email": "",
        "password": ""
    }
}