{
    "yelp": {
        "home": "https://www.yelp.com",
        "email": "",
        "password": ""
    },
    "britannica": {
        "home": "https://www.britannica.com",
        "email": "",
        "password": ""
    },
    "cnn": {
        "home": "https://www.cnn.com",
        "email": "",
        "password": ""
    },
    "ebay": {
        "home": "https://www.ebay.com",
        "email": "",
        "password": ""
    },
    "foxnews": {
        "home": "https://www.foxnews.com",
        "email": "",
        "password": ""
    },
    "nfl": {
        "home": "https://www.nfl.com",
        "email": "",
        "password": ""
    },
    "nytimes": {
        "home": "https://www.nytimes.com",
        "email": "",
        "password": ""
    },
    "reddit": {
        "home": "https://www.reddit.com",
        "email": "",
        "password": ""
    },
    "target": {
        "home": "https://www.target.com",
        "email": "",
        "password": ""
    },
    "yahoo": {
        "home": "https://www.yahoo.com",
        "email": "",
        "password": ""
    },
    "apple": {
        "home": "https://www.apple.com",
        "email": "",
        "password": ""
    },
    "pinterest": {
        "home": "https://www.pinterest.com",
        "email": "",
        "password": ""
    },
    "wikipedia": {
        "home": "https://www.wikipedia.org",
        "email": "",
        "password": ""
    },
    "zhihu": {
        "home": "https://www.zhihu.com",
        "email": "",
        "password": ""
    },
    "taobao": {
        "home": "https://world.taobao.com",
        "email": "",
        "password": ""
    },
    "sina": {
        "home": "https://www.sina.com.cn",
        "email": "",
        "password": ""
    },
    "iq": {
        "home": "https://www.iq.com",
        "email": "",
        "password": ""
    },
    "bilibili": {
        "home": "https://www.bilibili.com",
        "email": "",
        "password": ""
    },
    "fandom": {
        "home": "https://www.fandom.com/",
        "email": "",
        "password": ""
    },
    "taboola": {
        "home": "https://www.taboola.com/",
        "email": "",
        "password": ""
    },
    "amazon": {
        "home": "https://www.amazon.com/",
        "email": "",
        "password": ""
    },
    "pornhub": {
        "home": "https://cn.pornhub.com/",
        "email": "",
        "password": ""
    },
    "xvideos": {
        "home": "https://www.xvideos.com/",
        "email": "",
        "password": ""
    },
    "tiktok": {
        "home": "https://www.tiktok.com/",
        "email": "",
        "password": ""
    }
}